# .gitignore for c4comm_bridge



#emacs temp files
*~

*.o
*.a
.metadata
*.d
*.deb

# do not need doxygens output file
*/html/*
*/latex/*

# we dont need encodings.xml
encodings.xml
# we dont need workspace.xml
workspace.xml
# we dont need the vcs.xml
vcs.xml
# we dont need the bin directory
bin
# we dont need the lib directory
lib
# we dont need these cmake directory and files
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CPackSourceConfig.cmake
CPackConfig.cmake

# Eclipse likes to add this
RemoteSystemsTempFiles
# setting files for CLion
.settings

# executables
comm-bridge
*.a
*.so