# .gitignore for cpp-projects

*.o
*.a
.metadata
.project
.cproject
*~

# we dont need encodings.xml
encodings.xml
# we dont need the bin directory
bin
lib

# executables
c4-console
echo-client
echo-server
http-server
control4-server