*~
Thumbs.db
#Ignore files built by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*.opensdf
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
*.sbr
*.sdf
[Bb]in/
[Oo]bj/
[Dd]ebug*/
[Rr]elease*/
#Ignore files built by Linux Compilers
*.o
*.d
*.a
*.so

